/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

.pdf-container {
  transform-origin: top center;
  transition: transform 0.2s ease-out;
}

.pdf-iframe {
  width: 100%;
  border: none;
  min-width: 800px;
  width: 800px;
  height: 1000px;
}
